<div class='container'>
    <div class='page-header'>
        <h1>Voice Attack Natural Language Generator</h1>
        <p class='lead'>Generate thousands of variations of your commands using a simple sentence format.</p>
    </div>
</div>

