<div class='edit_form'>
    <form method="POST" action="/submit">
        <div class='basic_commands'>
            {{#each basic_commands}}
                {{> command this}}
            {{/each}}
        </div>
        <div class='personality'>
        </div>
    </form>
</div>
