<div class='edit_form'>
    <form method="POST" action="/submit">
        <div class='basic_commands'>
            <h3>Basic Commands</h3>
            <p>Commands used for controlling your ship in various ways.</p>
            {{#each basic_commands}}
                {{> command this}}
            {{/each}}
        </div>
        <div class='personality'>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
<script>
    $('.add').on('click', function(e) {
        var $target = $(e.currentTarget);
        var $inputs = $target.closest('.inputs');
        var $last = $inputs.children('input').last();

        var name = $last.attr('name').split('_');
        name.push((parseInt(name.pop()) + 1));
        var new_name = name.join('_');
        var $new = $('<input>').attr({
            name: new_name
        });

        $last.after($new);

        console.log($inputs.children('input').length);
        if ($inputs.children('input').length > 1) {
            $('.remove', $target.closest('p')).show();
        }
    });

    $('.remove').on('click', function(e) {
        var $target = $(e.currentTarget);
        $target.closest('.inputs').children('input').last().remove();
        if ($target.closest('.inputs').children('input').length <= 1) {
            $target.hide();
        }
    });
</script>
