<div class='edit_form'>
    <form method="POST" action="/submit">
        <div class='basic_commands'>
            <h3>Basic Commands</h3>
            <p>Commands used for controlling your ship in various ways.</p>
            {{#each basic_commands}}
                {{> command this}}
            {{/each}}
        </div>
        <div class='personality'>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
<script>
    $('.add').on('click', function(e) {
        var $target = $(e.currentTarget);
        var $inputs = $target.closest('.inputs');
        var $last = $inputs.children('input').last();

        var name = $last.attr('name').split('_');
        var id = name[0];
        var field_name = name[1];
        var index = parseInt(name[2]) + 1;

        if ($inputs.hasClass('tts')) {
            var $new_phrase = $('<input>').attr({
                type: "text",
                name: id + "_tts_" + index,
                class: "phrase"
            });
            var $new_percent = $('<input>').attr({
                type: "text",
                name: id + "_ttspercent_" + index,
                class: "percent"
            });

            $last.after($new_phrase);
            $new_phrase.after($new_percent);
        } else {
            var $new = $('<input>').attr({
                type: "text",
                name: id + "_" + field_name + "_" + index
            });

            $last.after($new);
        }

        if ($inputs.children('input').length > 1) {
            $('.remove', $target.closest('p')).show();
        }
    });

    $('.remove').on('click', function(e) {
        var $target = $(e.currentTarget);
        var $inputs = $target.closest('.inputs');
        if ($inputs.hasClass('tts')) {
            $inputs.children('input.phrase').last().remove();
            $inputs.children('input.percent').last().remove();
        } else {
            $inputs.children('input').last().remove();
        }

        if ($target.closest('.inputs').children('input').length <= 1) {
            $target.hide();
        }
    });
</script>
