<div class='instructions'>
    <h3>Instructions</h3>
    <p>Instructions go here...</p>
</div>
<div class='input_form'>
    <h3>Copy + Paste .VAP File</h3>
    <form method="POST" action="/edit" enctype="multipart/form-data">
        <input type="file" name="profile">
        <input type="submit" value="Parse">
    </form>
</div>
